body, html {
	height: 100%;
	width: calc(100% - 50px);
	margin: 0;
	padding-right: 25px;
	padding-left: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #222;
	font-family: 'Sometype Mono', monospace;
}

button, input[type=submit] {
	cursor: pointer;
	background-color: #555;
	color: #000;
	border-width: 1.5;
	border-color: rgb(255,255,255,0.6);
	padding: 9px;
	font-family: 'Sometype Mono', monospace;
	font-weight: 600;
	border-radius: 3px;
}

button:hover, input[type=submit]:hover {
	background-color: #666;
}

.setting {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.setting-option {
	display: flex;
	margin-left: 3px;
	align-items: center;
	color: #fff;
}

.setting-description p {
	margin-top: 4px;
	font-size: 12px;
	color: #888;
}

input[type=text], input[type=password], textarea {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #aaa;
	border-radius: 4px;
	background: #555;
	font-family: 'SomeType Mono', monospace;
	font-weight: 600;
}

.settings-form {
	width: 85%;
	height: 80%;
	padding: 15px;
	top: 65; /* If you want it right at the top */
	position: absolute; /* Keeps the form out of the document flow */
	z-index: 10; /* Keeps it above other content */
	background-color: #333; /* The color you already had */
	transition: all 0.3s ease; /* Keeps the transition effect you already had */
	border-radius: 8px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.settings-form.hidden {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 50px);
	padding: 10px;
	box-sizing: border-box; /* To ensure padding does not affect the total width */
	position: absolute;
	top: 0;
	z-index: 10;
}

.title {
	color: #fff;
	font-size: 24px;
	margin: 0; /* Remove default margins from h1 tag */
	flex-grow: 1; /* Allows title to take up available space between buttons */
	text-align: center;
}

.subtitle {
	color: #666;
	font-size: 12px;
	margin: 0;
	text-align: center;
}

.main-container {
	display: flex; /* Establishes a flex container */
	width: 100%; /* Takes full width of the container */
	padding: 10px; /* Padding around the entire content */
	box-sizing: border-box; /* Includes padding in the width */
	padding: 10px;
	margin-top: 80px;
	background-color: #404040;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.login-form, .output-area {
	flex: 1;
	min-width: 0;
	margin: 5px;
}

.output-area {
	background-color: #555;
	display: none;
	resize: none;
	pointer-events: none;
}
